<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Archetype Created Web Application</display-name>

	<!-- Default page -->
	<welcome-file-list>
		<welcome-file>/jsp/dashboard.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>DisplayComputers</servlet-name>
		<servlet-class>servlet.DisplayComputers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayComputers</servlet-name>
		<url-pattern>/DisplayComputers</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/jsp/403.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/jsp/500.jsp</location>
	</error-page>

</web-app>
